{% extends 'base.html' %}

{% block title %} ghostinajar.io - about {% endblock %}

{% block header %}
<header class="intro-header" style="background-image: url('/static/img/blog.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ghostinajar.io</h1>
                    <hr class="small">
                    <span class="subheading">3 32 39.0, −27° 47′ 29.1″</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>About ghostinajar.io</h1>
    </header>
    <p>Hello, thanks for visiting my personal website, ghostinajar.io. The original idea of creating
        this website was to provide myself with a medium, one that I retain full ownership of, to publicly share
        personal projects, ideas, and opinions. Not only that, but in creating this website I hope to gain some
        applicable experience in web development and sharpen my python skills.</p>
    <p>I am a recent graduate from college with a BS in physics. During my undergraduate career I spend a lot
        of time working with grad students, after about two years I eventually came to realize that a phd in physics was
        not
        something I am interested in pursuing in the near future. That being said, as someone with a physics BS going
        into the job market, I have to work harder than my engineering peers to market my skills to potential employers.
        Although getting a physics degree gave me a set of very strong problem solving and analytical skills that are almost
        universally applicable to engineering, this fact isn't immediately obvious to the people who are
        looking through resumes. Thus, another reason why I decided to make this website is to create a sort of
        'applied' resume for myself. This website will be an ongoing project for a while, and I have lots of cool ideas
        to implement, stay tuned.</p>

    <br>
    <p>Tristan</p>
</article>

{% endblock %}