{% extends 'base.html' %}

{% block title %} ghostinajar.io - home {% endblock %}

{% block header %}
<header class="intro-header" style="background-image: url('/static/img/index.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>ghost in a jar</h1>
                    <hr class="small">
                    <span class="subheading">3 32 39.0, −27° 47′ 29.1″</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
{% for p in post_list %}
<div class="post-preview">
    <a href="{% url p.slug %}">
        <h2 class="post-title">
            {{ p.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ p.subtitle }}
        </h3>
    </a>
    <p class="post-meta">Posted by Tristan on {{ post.timestamp }}</p>
</div>
{% endfor %}
<!-- Pager -->
<ul class="pager">
    <li class="next">
        <a href="/posts/">All Posts &rarr;</a>
    </li>
</ul>
{% endblock %}
