{% extends 'base.html' %}

{% block title %} ghostinajar.io - blog {% endblock %}

{% block header %}
<header class="intro-header" style="background-image: url('/static/img/blog.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ post.title }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ post.subtitle }}</span>
                    <p class="meta">Posted by Tristan on {{ post.timestamp }}</p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<article>
{% autoescape off %}
    {{ post.content }}
{% endautoescape %}
</article>

{% endblock %}