{% load el_pagination_tags %}

{% paginate post_list %}
{% for post in post_list %}
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
    </a>
    {% with post.content|split:' ' as words %}
    {% for i in '0' %}
    {{ words.0}}
    {% endfor %}...
    {% endwith %}
    <p class="post-meta">Posted by Tristan on {{ post.timestamp }}</p>
</div>
{% endfor %}
{% show_more %}